@font-face {
    font-family:Geologica;
    src:url('/assets/fonts/Geologica-Regular.ttf')
}

:root{
    --accent:#ddddeb;
    --default:rgba(0,0,0,0.3);
}
html{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    font:20px/1.5 Geologica1 ;
    background-color:var(--accent);
    width:100hv;
}
.container{
    display:flex;
    justify-content: center;
}
.todo{
    background-color: #fff;
    width:100vh;
    height:100vh;
    padding: 20px;
    border-radius: 10%;
}
.todo__content{
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.todo__title{
}
.todo__new{
    --size:25px;
    display:flex;
    padding: 1rem   2rem;
    outline: 1px solid red;
}
.todo__new input{
    padding: 8px 16px;
    margin-right:16px;
    font-size:15px;
    height:var(--size);
    border:1px solid var(--default);
    border-radius: 5px;
    flex-grow:1;
}

.todo__add,.todo__task-del{
    width: var(--size);
    height: var(--size);
    padding: 8px;
    line-height:calc(var(--size)*1);
    text-align:center;
    border:1px solid var(--default);
    border-radius: var(--size);
    background: var( --accent);
    cursor: pointer;
    color:#000;
}
.todo__list{
    outline:1px solid green;
    padding: 16px;
}
.todo__task{
    --size:16px;
    min-height:var(--size);
    display:flex;
}
.todo__task-text{
    margin-left: 16px;
}
.todo__list-title{
    font-size:20px;
    text-align:center;
}
.todo__task-del{
    width:10px;
    height: 10px;
    text-align:center;
    line-height:calc(var(--size)/1.9);
    margin:auto;
    margin-right:0;
    display:none;
}
.todo__task:hover .todo__task-del {
    display:block;
}
.todo__checkbox input{
display:none;
background-color: var(--default);
}

.todo__checkbox div{
--size:16px;
text-align: center;
width:var(--size);
height:var(--size);
border:1px solid var(--accent);
}