@import url('/assets/fonts/Geologica-Regular.ttf');

@font-face {
    font-family:Geologica;
    src:url('/assets/fonts/Geologica-Regular.ttf')
}

:root{
    --accent:#ddddeb;
    --default:rgba(0,0,0,0.3);
}
html{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    font:20px/1.5 Geologica1 ;
    background-color:var(--accent);
    width:100hv;
}
.container{
    display:flex;
    justify-content: center;
}
.todo{
    background-color: #fff;
    width:100vh;
    height:100vh;
    padding: 20px;
    border-radius: 10%;
}
.todo__content{
    display:flex;
    flex-direction:column;
    justify-content:center;
  
}
.todo__title{
    
}
.todo__new{
    --size:25px;
    display:flex;
    padding: 1rem   2rem;
}
.todo__new input{
    padding: 8px 16px;
    margin-right:16px;
    font-size:15px;
    height:var(--size);
    border:1px solid var(--default);
}

.todo__add{
    width: 25px;
    height: 25px;
    line-height:calc(var(--size)*1.5);
    text-align:center;
    border:1px solid var(--default);
    border-radius:var(--size);
}